<%= form_with scope: :session, url: login_path, method: :post do |f| %>

    <nav class="navbar navbar-expand-xl c-bg-primary c-white">
        <div class="container-fluid">
            <div class="navbar-wrapper">
            <i class="material-icons">keyboard_backspace</i>
            </div>

            <div class="navbar-wrapper">
            <p class="navbar-brand" href="#">LOGIN</p>
            </div>
            <div class="navbar-wrapper">
            <%= f.submit "Log in", class: 'btn btn-link c-white' %>  
            </div>
        </div>
    </nav>
    <div class="card pt-4 pb-5 px-4">
        <div class="input-group ">
            <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "Name", placeholder: "Enter your name" %>
        </div>
    </div>

<% end %>
