<%= form_with scope: :session, url: signup_path, method: :post do |f| %>

  <nav class="navbar navbar-expand-xl c-bg-primary c-white">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <%= link_to content_tag(:i,"keyboard_backspace", class:"material-icons c-white"), root_path %>
      </div>

      <div class="navbar-wrapper">
        <p class="navbar-brand" href="#">REGISTER</p>
      </div>
      <div class="navbar-wrapper">
        <%= f.submit "Next", class: 'btn btn-link c-white' %>  
      </div>
    </div>
    </nav>
    <div class="card  pb-5 px-4">

    <div class="p-0 m-0 info info-horizontal">
      <div class="icon">
        <i class="material-icons">account_circle</i>
      </div>
        <div class="description">
          <p class="info-title">Upload picture</p>
        </div>
    </div>
      
    <hr />
     <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="material-icons">person</i>
            </span>
        </div>
        <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "Name", placeholder: "Enter your name" %>
      </div>
    </div>

<% end %>
