<%= form_with scope: :group, url: group_path, method: :post do |f| %>

    <nav class="navbar navbar-expand-xl c-bg-primary c-white">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <%= link_to content_tag(:i,"keyboard_backspace", class:"material-icons c-white"), group_path %>
            </div>

            <div class="navbar-wrapper">
            <p class="navbar-brand" href="#">NEW GROUP</p>
            </div>
            <div class="navbar-wrapper">
            <%= f.submit "Next", class: 'btn btn-link c-white' %>  
            </div>
        </div>
    </nav>
    <div class="card pt-4 pb-5 px-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">group_add</i>
                </span>
            </div>
            <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "Name", placeholder: "Enter the name of the group" %>
        </div>
    </div>

<% end %>
