<section class="users-section mt-5 p-5">
<h3 class="mt-5 mb-5 text-center">
Loan Group management 
</h3>

<button class="btn btn-block text-center c-bg-primary btn-lg  m-auto mt-5">LOG IN</button>
<button class="btn c-primary btn-block text-center c-bg-white btn-lg  m-auto">SIGN UP</button>
</section>
