<section class="users-section mt-5 p-5">
    <h3 class="mt-5 mb-5 text-center">
        Loan Group management 
    </h3>

    <%= link_to 'LOG IN', login_path, class: "btn btn-block c-bg-primary btn-lg  m-auto mt-5" %>
    <%= link_to 'SIGN UP', signup_path, class: "btn c-primary btn-block text-center c-bg-white btn-lg  m-auto" %>
</section>
