<div class="mt-5">
    <div class="">
      <div class="row">
        <div class="col-lg-5 col-md-7 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="c-bg-primary card-header card-header-primary  text-center p-4">
                <h4 class="card-title">Login</h4>
              </div>
             <p class="description text-center mt-5">Welcome</p>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter your name">
                </div>
               
              </div>
              <div class="p-3">
                <button class="btn text-center c-bg-secondary btn-wd btn-lg d-block m-auto">Login</button>
              </div>
              <p class="text-right" > <a href="#" class="btn c-dark btn-link text-right">SIGN UP</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
 