<section class="users-section">
 <nav class="navbar navbar-expand-xl c-bg-primary c-white">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="c-bg-white navbar-toggler-icon icon-bar"></span>
            <span class="c-bg-white navbar-toggler-icon icon-bar"></span>
            <span class="c-bg-white navbar-toggler-icon icon-bar"></span>
          </button>

          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">HOME</a>
          </div>
          <div class="navbar-wrapper">
           <i class="material-icons">search</i>
          </div>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <span class="d-lg-none d-md-block">
                  <i class="material-icons">home</i>
                    Home
                  </span>
                <div class="ripple-container"></div></a>
              </li>
              
               <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <span class="d-lg-none d-md-block">
                  <i class="material-icons">groups</i>
                    All groups
                  </span>
                <div class="ripple-container"></div></a>
              </li>

               <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <span class="d-lg-none d-md-block">
                  <i class="material-icons">login</i>
                    Logout
                  </span>
                <div class="ripple-container"></div></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>
