.c-bg-primary {
  background: #3778c2 !important;
}

.c-bg-secondary {
  background: #5fb523 !important;
}

.c-bg-dark {
  background: #434b54 !important;
}

.c-bg-white {
  background: #fff !important;
}

.c-primary {
  color: #3778c2 !important;
}

.c-secondary {
  color: #5fb523 !important;
}

.c-dark {
  color: #434b54 !important;
}

.active {
  background: #f7f7f7;
}

.c-white {
  color: #fff !important;
}

.f-s-20 {
  font-size: 20px !important;
}

.form-control2 {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 1px #dccdcd solid;
  height: 36px;
  transition: background 0s ease-out;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
}

.navbar2 {
  margin-bottom: 0 !important;
}

.card {
  margin-top: 0 !important;
  border-radius: 0 !important;
}

.bmd-form-group {
  position: relative;
  padding-top: 1px !important;
}

.info-title {
  font-weight: normal !important;
}

.info2 {
  max-width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.fs-60 {
  font-size: 55px;
  border-radius: 5px;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-italic {
  font-style: italic !important;
}
